.detail{
  border : 3px solid ;
  border-radius: 10px;
  width: 215px;
  padding: 10px;
  margin: 10px;
}
.detail-row{
  display:flex;
  margin-right: 2px;
  margin-top: 10px;
}
.label{
  font-size: 1,8rem;
  margin-right: 15px;
  color:#110df0;
  font-weight: bold;
  text-transform: capitalize;
}
.value{
  border-radius: 5px;
  font-size: 1,8rem;
  color: #1f1010;

}

