.table {
  width:50%;
  border-collapse:collapse;
  font-size:0.85rem;
  letter-spacing:1.5px;
  margin: 20px;
  border: #0f0f1a;
  border-radius: 20px;
}
.table th{

  background:#1a1a2e;

  padding:8px 14px;
   color:#e0e0ec; font-size:0.72rem;
   text-transform:uppercase;
    letter-spacing:1.5px;
     
     }
.table td{
  padding:11px 14px;
 }
.table tbody
 { background:#1a1a2e;
   color:#e8e8f0;
   }
/* .btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 7px 14px;
  border-radius: 8px;
  font-size: 0.78rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: all 0.18s;
} */

 /* au survol des bouton */
.btn-del:hover {
   background: #e32020;
   cursor: pointer;
    transform: translateY(-3px);
   }
.btn-edit:hover {
  background: #9d8fff;
  transform: translateX(-3px);
  cursor: pointer;

 }
.btn-view:hover {
  background: #31cbcb;
  transform: translateX(3px);
  cursor: pointer;

}
/* les bouton a l'etat naturel */

.btn-del {
   display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 7px 14px;
  border-radius: 8px;
  font-size: 0.78rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: all 0.18s;
   }
.btn-edit {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 7px 14px;
  border-radius: 8px;
  font-size: 0.78rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: all 0.18s;

 }
.btn-view {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 7px 14px;
  border-radius: 8px;
  font-size: 0.78rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: all 0.18s;
}
